In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [57]:
df=pd.read_csv('toyota.csv')
df.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [58]:
data=df.dropna(axis=0)
data.describe

<bound method NDFrame.describe of                model  year  price transmission  mileage fuelType  tax   mpg  \
0               GT86  2016  16000       Manual    24089   Petrol  265  36.2
1               GT86  2017  15995       Manual    18615   Petrol  145  36.2
2               GT86  2015  13998       Manual    27469   Petrol  265  36.2
3               GT86  2017  18998       Manual    14736   Petrol  150  36.2
4               GT86  2017  17498       Manual    36284   Petrol  145  36.2
...              ...   ...    ...          ...      ...      ...  ...   ...
6733              IQ  2011   5500    Automatic    30000   Petrol   20  58.9
6734   Urban Cruiser  2011   4985       Manual    36154   Petrol  125  50.4
6735   Urban Cruiser  2012   4995       Manual    46000   Diesel  125  57.6
6736   Urban Cruiser  2011   3995       Manual    60700   Petrol  125  50.4
6737   Urban Cruiser  2011   4495       Manual    45128   Petrol  125  50.4

      engineSize
0            2.0
1            2.0
2            2.0
3            2.0
4            2.0
...          ...
6733         1.0
6734         1.3
6735         1.4
6736         1.3
6737         1.3

[6738 rows x 9 columns]>

In [59]:
features=['year','mileage','tax','mpg','engineSize']
x=data[features]
y=data['price']
x.shape,y.shape

((6738, 5), (6738,))

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=70)
y_test.shape

(1685,)

In [65]:
from sklearn.neighbors import KNeighborsRegressor as KNN_Reg
from sklearn.metrics import mean_squared_error as mse

model=KNN_Reg(n_neighbors=80)

model.fit(x_train,y_train)
acc1=model.score(x_test,y_test)

test_predict=model.predict(x_test)
score=mse(test_predict,y_test)
print(' MSE : ',score,'\n','Accuracy : ',acc1)

 MSE :  34239712.80069909
 Accuracy :  0.09915033838630982

In [66]:
def Elbow(K):
  #Initiating Empty List
  test_mse=[]

  #Train model for every value of K
  for i in K:
    model=KNN_Reg(n_neighbors=i)
    model.fit(x_train,y_train)
    tmp=model.predict(x_test)
    tmp=mse(tmp,y_test)
    test_mse.append(tmp)
  return test_mse

In [67]:
new_model=KNN_Reg(n_neighbors=97)

new_model.fit(x_train,y_train)
acc2=new_model.score(x_test,y_test)

print(' Accuracy of New Model (%) :  ',acc2*100,'\n','Accuracy of Old Model (%) : ',acc1*100,'\n Improvement (%) : ',(acc2-acc1)*100)

 Accuracy of New Model (%) :   10.30126886019379
 Accuracy of Old Model (%) :  9.915033838630983
 Improvement (%) :  0.38623502156280853

In [73]:
input_data=np.array([[2016,24089,265,36.2,2]])

prediction=new_model.predict(input_data)
print('Prediksi Harga Mobil Bekas dalam EUR : ',prediction)

Prediksi Harga Mobil Bekas dalam EUR :  [10598.88659794]

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [ ]:
import pickle

filename='carprice_model.sav'
pickle.dump(model,open(filename,'wb'))